<nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom">
    <div class="container text-center">
        <ul class="nav navbar-nav" style="display: inline-block; float: none;">
            <li><a href="https://ineedyouraddress.com/joceandjoe/" target="_blank" rel="noopener noreferrer">Share Your
                    Address</a></li>
            <li><a href="https://www.amazon.com/wedding/share/joceandjoe" target="_blank"
                    rel="noopener noreferrer">Wedding Registry</a></li>
            <li><a href="https://venmo.com/joceandjoe" target="_blank" rel="noopener noreferrer">Venmo:
                    @joceandjoe</a></li>
        </ul>
    </div>
</nav>