<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jocelyn & Joe</h1>
            <hr>
            <p>We’re Getting Married!</p>
            <p>June 6, 2026 | Las Vegas Temple</p>
        </div>

        <div id="countdown" class="countdown-container">
            <div class="countdown-item"><span id="days">00</span><label>Days</label></div>
            <div class="countdown-item"><span id="hours">00</span><label>Hours</label></div>
            <div class="countdown-item"><span id="minutes">00</span><label>Mins</label></div>
            <div class="countdown-item"><span id="seconds">00</span><label>Secs</label></div>
        </div>
    </div>
</header>